@mixin font-face($font-name, $font-path, $font-weight: 400, $font-style: normal) {
  @font-face {
    font-family: $font-name;
    font-weight: $font-weight;
    font-style: $font-style;
    src: url('#{$font-path}.eot') format('eot'),
    url('#{$font-path}.woff2') format('woff2'),
    url('#{$font-path}.woff') format('woff'),
    url('#{$font-path}.svg') format('svg'),
    url('#{$font-path}.ttf') format('truetype');
  }
}

 @include font-face("Montserrat", "./assets/fonts/Montserrat-Regular");
 @include font-face("Montserrat", "./assets/fonts/Montserrat-Bold", bold);

 @include font-face("OpenSans", "./assets/fonts/OpenSans-Bold", bold);
 @include font-face("OpenSans", "./assets/fonts/OpenSans-Regular");

  @include font-face("Quicksand", "./assets/fonts/Quicksand-Bold", bold);
  @include font-face("Quicksand", "./assets/fonts/Quicksand-Regular");
