include ../mixins/free-space.pug
include ../mixins/block-color.pug
include ../mixins/color-side.pug
include ../mixins/type-side.pug
include ../mixins/page-menu.pug


include ../mixins/block-lib-self-title.pug
include ../mixins/block-lib.pug

include ./../../components/logo/logo.pug
include ./../../components/text-field/text-field.pug
include ./../../components/buttons/buttons.pug
include ./../../components/dropdown/dropdown.pug
include ./../../components/masked-text-field/masked-text-field.pug
