@import '../template/template';
@import '../../components/logo/logo';
@import '../../components/text-field/text-field';

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

.free-space {
  content: '';
}

.elements-form-elements {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1440px;

  &__logo {
    padding-top: 35px;
    padding-left: 23px;
  }

  &__column {
    flex-basis: 320px;
    border: 1px solid rgb(36, 35, 128);
  }

  &__column:first-child {
    padding-left: 9.3%;
  }
}


.block-lib {
  border: 1px solid rgb(69, 146, 54);
  padding-bottom: 21px;

  &__description-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  &__block-row {
    padding-top: 5px;
  }

  &__title {
    margin: 0;
    text-align: left;
    text-transform: uppercase;
    line-height: 15px;
    font-size: 12px;
    font-weight: bold;
  }

  &__mods {
    text-align: right;
    line-height: 15px;
    font-size: 12px;
  }
}