extends ../template/template.pug

//- mixin free-space(props={})    задает отступ по ширине и/или высоте
//- mixin block-lib(props={})               размещение блока без собственного заголовка
//- mixin block-lib-self-title(props={})    размещение блока с собственным заголовком

block meta
  meta(name="keywords", content="toxin, form elements")
  meta(name="description" content="Учебный проект FSD. Второе задание. Лист form-elements")

block title
  | Form Elements

block main
  section(class="" +elements_F_E )
    .elements-form-elements__logo
      +logo({mods: 'gray'})
  +free-space({height: '60px'})

  section(class="" +elements_F_E )
    .elements-form-elements__column
      +block-lib({title: 'TEXT FIELD', mods:'DEFAULT', width: '320px'})
        +text-field({placeholder: 'Email'})

      +block-lib({title: 'TEXT FIELD', mods:'HOVER / FOCUS', width: '320px'})
        +text-field({mods: 'focused', placeholder: 'This is pretty awesome'})

      //- повтор блока , переделать
      +block-lib({title: 'DROPDOWN', mods: 'DEFAULT', width: '320px'})
        +text-field({mods: 'focused', placeholder: 'This is pretty awesome'})
      
      +block-lib({title: 'MASKED-TEXT-FIELD', mods: 'DEFAULT', width: '320px'})
        +masked-text-field({placeholder: 'ДД.ММ.ГГГ', maskType: 'date'})

      +block-lib({width: '320px'})
        +free-space({height: '14px'})
        .elements__container
          .elements__half-column
            +block-lib({title: 'DATE DROPDOWN', width: '150px'})
              +date-dropdown({})

          .elements__half-column
            +block-lib({title: 'DATE DROPDOWN', width: '150px'})
              +date-dropdown({placeholder: '19.08.2019'})

      +block-lib({title: 'filter date dropdown', width: '266px'})
        +filter-date-dropdown({placeholder: '19 авг - 23 авг'})

      +free-space({height: '20px'})
      +block-lib({title: 'SUBSCRIPTION TEXT FIELD', width: '266px'})
        +subscription-text-field({placeholder: 'Email'})