doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    link(rel='stylesheet', href='styles.css')
    title Document
  body
    nav.header.navbar.navbar-dark.bg-primary
      a.navbar-brand Navbar
      form.form-inline
        select#themeSelect.form-control.form-control-sm
          option(value='default') Theme Default
          option(value='light') Theme Light
          option(value='dark') Theme Dark
    .form-section.mt-5
      .container
        .row
          .col.col-8.mx-auto
            .card
              .card-body
                h5.card-title Add new task
                form(name='addTask')
                  input#title.form-control(type='text', name='title', placeholder='Task title')
                  input#body.form-control.mt-3(type='text', name='body', placeholder='Task body')
                  button.btn.btn-primary.mt-4(type='submit')
                    | Add task
    .tasks-list-section.mt-5
      .container
        ul.list-group
    script(src='app.js')